@{
    Layout = null;
}                    
                      <html>
<head>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/themes/dark_blue.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
  <style type="text/css">

    html,
    body,
    #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
</style>
</head>
<body>
  
  <div id="container"></div>
  

  <script>

    anychart.onDocumentReady(function () {
	// set chart theme
anychart.theme('darkBlue');
      // create data set on our data
      var dataSet = anychart.data.set(getData());

      // map data for the first series, take x from the zero column and value from the first column of data set
      var firstSeriesData = dataSet.mapAs({ x: 0, value: 1 });

      // map data for the second series, take x from the zero column and value from the second column of data set
      var secondSeriesData = dataSet.mapAs({ x: 0, value: 2 });

      // map data for the third series, take x from the zero column and value from the third column of data set
      var thirdSeriesData = dataSet.mapAs({ x: 0, value: 3 });

      // create line chart
      var chart = anychart.line();

      // turn on chart animation
      chart.animation(true);

      // set chart padding
      chart.padding([10, 20, 5, 20]);

      // turn on the crosshair
      chart.crosshair().enabled(true).yLabel(false).yStroke(null);

      // set tooltip mode to point
      chart.tooltip().positionMode('point');

      // set chart title text settings
      chart.title(
        'Доходность портфеля'
      );

      // set yAxis title
      chart.yAxis().title('Доходность портфеля (Тыс. Руб.)');
      chart.xAxis().labels().padding(5);

      // create first series with mapped data
      var firstSeries = chart.line(firstSeriesData);
      firstSeries.name('Доход');
      firstSeries.hovered().markers().enabled(true).type('circle').size(4);
      firstSeries
        .tooltip()
        .position('right')
        .anchor('left-center')
        .offsetX(5)
        .offsetY(5);

      // create second series with mapped data
      var secondSeries = chart.line(secondSeriesData);
      secondSeries.name('Риски');
      secondSeries.hovered().markers().enabled(true).type('circle').size(4);
      secondSeries
        .tooltip()
        .position('right')
        .anchor('left-center')
        .offsetX(5)
        .offsetY(5);

      // create third series with mapped data
      var thirdSeries = chart.line(thirdSeriesData);
      thirdSeries.name('Tequila');
      thirdSeries.hovered().markers().enabled(true).type('circle').size(4);
      thirdSeries
        .tooltip()
        .position('right')
        .anchor('left-center')
        .offsetX(5)
        .offsetY(5);

      // turn the legend on
      chart.legend().enabled(true).fontSize(13).padding([0, 0, 10, 0]);

      // set container id for the chart
      chart.container('container');
      // initiate chart drawing
      chart.draw();
    });

    function getData() {
      return [
        ['янв', 3.6, 1.2],
        ['фев', 7.1, 1.4],
        ['мар', 8.5, 2.2],
        ['апр', 9.2, 1.2],
        ['май', 10.1, 2.2],
        ['июн', 11.6, 1.2],
        ['июл', 16.4, 4.4],
        ['авг', 18.0, 4.5],
        ['сен', 13.2, 5.2],
        ['окт', 12.0, 1.2],
        ['ноя', 3.2, 1.2],
        ['дек', 4.1, 1.2]
      ];
    }
  
</script>
</body>
</html>
                