<h1 class="ml-3 mb-3">Портфели</h1>
<button class="btn-secondary ml-3 mb-3">Добавить</button>
<kendo-grid
            [kendoGridBinding]="gridView"
            kendoGridSelectBy="id"
            [(selectedKeys)]="mySelection"
            [pageSize]="10"
            [pageable]="true"
            [sortable]="true"
            [groupable]="false"
            [reorderable]="true"
            [resizable]="true"
            [height]="800"
            [columnMenu]="{ filter: true }"
        >
            <ng-template kendoGridToolbarTemplate>
                <input [style.width.px]="165" placeholder="Поиск..." kendoTextBox (input)="onFilter($event)"/>
                <kendo-grid-spacer></kendo-grid-spacer>
                <button kendoGridExcelCommand type="button" icon="file-excel">Выгрузить в Excel</button>
                <button kendoGridPDFCommand icon="file-pdf">Выгрузить в PDF</button>
            </ng-template>
            <kendo-grid-checkbox-column
                [width]="45"
                [headerClass]="{'text-center': true}"
                [class]="{'text-center': true}"
                [resizable]="false"
                [columnMenu]="false"
                [showSelectAll]="true"
            ></kendo-grid-checkbox-column>
            <kendo-grid-column-group title="Описание" [columnMenu]="false">
                <kendo-grid-column field="name" title="Название" [width]="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div><a href="{{portfolioUrl(dataItem)}}">{{dataItem.name}}</a></div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="date" title="Дата создания" [width]="230">
                </kendo-grid-column>
            </kendo-grid-column-group>
            <kendo-grid-column-group title="Коэффициенты" [columnMenu]="false">
                <kendo-grid-column field="ktreyner" title="Трейнера" [width]="130">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div [style.color]="dataItem.ktreyner > 0 ? 'green' : 'red'">{{dataItem.ktreyner}}</div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="kjenjon" title="Йенсена" [width]="130">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div [style.color]="dataItem.kjenjon > 0 ? 'green' : 'red'">{{dataItem.kjenjon}}</div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="ksharp" title="Шарпа" [width]="130">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div [style.color]="dataItem.ksharp > 0 ? 'green' : 'red'">{{dataItem.ksharp}}</div>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid-column-group>
            <kendo-grid-column-group title="Стоимость и риски" [columnMenu]="false">
                <kendo-grid-column field="price" title="Стоимость" [width]="130">
                </kendo-grid-column>
                <kendo-grid-column field="danger" title="Риск" [width]="130">
                </kendo-grid-column>
            </kendo-grid-column-group>

            <kendo-grid-pdf fileName="Portfolio.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="Portfolio.xlsx"></kendo-grid-excel>
        </kendo-grid>